@model  Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul class="list-group">
    <li class="list-group-item">Genre : @Model.GenreTypes.Name</li>
    <li class="list-group-item">Released Date : @Model.ReleasedDate</li>
    <li class="list-group-item">Added Date : @Model.AddedDate</li>
    <li class="list-group-item">Number Stock : @Model.NumberStock</li>
</ul>

